@model HotelManagementSystem.Models.Invoice

@{
    ViewData["Title"] = "تفاصيل الفاتورة";
}

<h1>تفاصيل الفاتورة</h1>

<div>
    <h4>الفاتورة</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvoiceNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvoiceDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DueDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PaidAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaidAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RemainingAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RemainingAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>

    <hr />
    <h4>بنود الفاتورة</h4>
    @if (Model.InvoiceItems != null && Model.InvoiceItems.Any())
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>البند</th>
                    <th>الكمية</th>
                    <th>سعر الوحدة</th>
                    <th>المجموع الفرعي</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.InvoiceItems)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.ItemName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                        <td>@Html.DisplayFor(modelItem => item.UnitPrice)</td>
                        <td>@Html.DisplayFor(modelItem => item.Subtotal)</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>لا توجد بنود فاتورة لهذا الطلب.</p>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">تعديل</a> |
    <a asp-action="Index">العودة إلى القائمة</a>
</div>
