@model List<HotelManagementSystem.Controllers.AdminController.UserRoleViewModel>

@{
    ViewData["Title"] = $"إدارة أدوار المستخدم: {ViewBag.UserName}";
}

<h1>إدارة أدوار المستخدم: @ViewBag.UserName</h1>

<hr />
<form asp-action="ManageUserRoles" method="post">
    <input type="hidden" name="userId" value="@ViewBag.UserId" /> @* Pass userId to POST action *@
    <div class="card">
        <div class="card-header">
            <h2>اختيار الأدوار</h2>
        </div>
        <div class="card-body">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model[i].RoleId" />
                    <input type="hidden" asp-for="@Model[i].RoleName" />
                    <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                    <label class="form-check-label" asp-for="@Model[i].IsSelected">@Model[i].RoleName</label>
                </div>
            }
        </div>
        <div class="card-footer mt-3">
            <input type="submit" value="تحديث الأدوار" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-secondary">العودة إلى قائمة المستخدمين</a>
        </div>
    </div>
</form>